@tailwind base;
@tailwind components;
@tailwind utilities;

.forward-arrow::after {
  content: "\2192";
  margin-left: 0.5rem;
}
.hover-parent:hover .hover-child {
  transform: translateY(-30px);
}
.hover-parent:hover .know-more {
  transform: translateY(0);
  opacity: 1;
}
#imageModal {
  overflow: auto;
}
#imageModal .close-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 50;
}
